@font-face {
   font-family: 'neuropolitical rg';
   src: url('neuropolitical rg/font.ttf');
}
@font-face {
   font-family: 'Swiss-721-BT_43231';
   src: url('Swiss-721-BT_43231/font.ttf');
}
@font-face {
   font-family: 'Swiss721LightBT';
   src: url('Swiss721LightBT/font.ttf');
}
